
.app {
  text-align: center;
  color: lightgray;
  font-family: 'Roboto';
  width: 15rem;
  margin: 5rem auto 1rem auto;
}

.title {
	font-size: 6rem;
	font-weight: 10;
	margin: unset;
}

/* Input */

.inputWrapper,
.listItemWrapper  {
	border: 1px solid #DDD;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.listItemWrapper {
	border-top: unset;
}

.arrow::before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	position: absolute;
	margin: auto;
	top: -42px;
	left: -5px;
}

.arrow {
	transform: rotate(90deg);
	cursor: pointer
}

.input {
	width: 100%;
	height: 3rem;
	color: gray;
	padding: 0.5rem;
	font-size: 1rem;
	box-sizing: border-box;
	border: none;
}

.input {
	padding-left: 45px;
}

.inputInList {
	outline: none;
	box-sizing: border-box;
	border: none;
	font-size: .9rem;
	color: gray;
	height: 3rem;
	font-family: 'Roboto';
	text-indent: 12px;
}

/*  Item List  */

.checkbox{
	margin: unset;
	padding: unset;
	padding-right: .1rem;

}

.x {
	cursor: pointer
}

/*  Bottom Bar */

.bottomBar {
	background-color: lightgray;
	color: white;
	text-align: left;
	height: min-content;
	padding: 0.5em 0.6em;

}

.bottomLink {
	padding-left: 0.5rem;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	cursor: pointer;
}
